<h1>These are your tasks</h1>
<ul>
    <% @list.tasks.each do |task| %>
        <li>
            Title: <%= task.title%><br>
            Description: <%= task.description %><br>
        </li>
    <% end %>
</ul>